@import url('https://fonts.googleapis.com/css?family=Lora|Playfair+Display|Raleway');

$colors: (
	primary-dark: #234,
	primary-light: #FB0,
	frame-background: #FFF
);

@function color($color-name) {
	@return map-get($colors, $color-name);
}

* {
    box-sizing: border-box;
}

/* un-style all links */
a, p {
	text-decoration: none;
	color: color(primary-dark);
}

img {
	display: inline-block;
}

body {
  background-color: #d9e5f1;
  background-color: color(primary-dark);
  font-family: 'Raleway';
}

.page-wrap {
	background-color: white;
	border-style: solid;
	border-width: 6px;
	border-color: map-get($colors, primary-light);
	padding: 5% 10% 8% 10%;
	margin: 2vw 15vw;
}

/* Style the header */
.header {
    text-align: center;
}

#name {
	font-size: 45px;
	font-family: 'Playfair Display', arial, sans-serif;
	font-weight: 100;
	color: color(primary-dark);
	margin: 15px 0 5px 0;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.links-list {
    width: 100%;
    height: 20px;
    text-align: center;
	padding: 0;
	li {
		display:inline-block;
		*display:inline; /*IE7*/
		*zoom:1; /*IE7*/
		margin: 10px 10px;
		a {
			font-size: 20px;
			color: color(primary-dark);
			padding-bottom: 2px;
			&:hover {
				color: color(primary-dark);
				background-color: #EEE;
			}
		}
	}
}

#current-link {
	border-style: solid;
	border-width: 0 0 1.5px 0;
	border-bottom-color: color(primary-dark);
}

.main-body {
	display: block;
	overflow: auto;
	padding: 30px 0;
	padding: 30px 0;
	line-height: 2em;
	border-width: 3px 0px 3px 0px;
	border-style: solid;
	border-color: map-get($colors, primary-light);
}

#portrait {
	margin: 30px 30px;
	max-width:30%;
	float: left;
	display: inline-block;
}

@media (max-width: 900px) {
	.links-list li a {
		font-size: 15px;
	}
}

@media (max-width: 780px) {
	.page-wrap {
		padding: 5% 8%;
		margin: 3vw 2vw;
	}
	
	.main-body {
		margin-top: 5px;
	}
	
	.topnav {
		height: 150px;
	}
	
	.links-list li {
		display: block;
	}
	
	#name {
		font-size: 50px;
	}
}

.footer {
    text-align: center;
}