
/* make the portrait go on a separate line 
   from the contact info, and center it    */
#portrait {
	display: block;
	float: none;
	margin: 0 auto;
}

#contact-info h2{
	text-align: center;
	margin-bottom: 0;
}

#contact-table {
	margin: 0 auto;
}

.contact-logo {
	float:left;
	margin: 0;
	margin-right: 2vw;
	width: 10vw;
	max-width: 60px;
}

.contact-logo-row {
	width: 70px;
	padding: 0;
	height: 70px;
}

.contact-text-row {
	font-size: 18px;
	display: inline;
	vertical-align: middle;
	float: left;
}

@media (max-width: 780px) {
	.contact-text-row {
		font-size: 16px;
	}
}
